html {
  /* make standart browser scrollbar always visivle */
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

button,
.link {
  cursor: pointer !important;
}

.app-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  display: flex;
}

/* .outlet-container {
  position: absolute;
  display: flex;
  flex-direction: column;
} */

aside.right-bar {

  width: 280px;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  height: 100vh;
  padding: 15px;
}

.center-content-container {
  border-left: 1px solid #eff3f4;
  border-right: 1px solid #eff3f4;
  position: relative;
  width: min(80vw, 600px);
}

@media (max-width: 1000px) {
  aside.right-bar {
    display: none;
  }

  .app-container {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .main-content {
    flex-grow: 1;
  }
}

@media (max-width: 480px) {
  .app-container {
    justify-content: flex-start;
  }
  .main-content {
    flex-direction: column;
  }

  .top-bar > .latest-tweets {
    margin-left: 20px;
  }

  .center-content-container {
    width: auto;
    border: none;
  }
}
