* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}



.main-content {
  display: flex;
}

aside.right-bar {
  border: 1px solid yellow;
  width: 280px;

  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  height: 100vh;
  padding: 15px;
}

.main-content > .top-bar {
  display: none;
}

@media (max-width: 1000px) {
  aside.right-bar {
    display: none;
  }

  .app-container {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .main-content {
    flex-grow: 1;
  }
}

@media (max-width: 480px) {
  .app-container {
    justify-content: flex-start;
  }
  .main-content {
    flex-direction: column;
  }
  .main-content > .top-bar {
    position: absolute;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    height: 53px;
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
  }

  .top-bar > .profile {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
  }

  .top-bar > .latest-tweets {
    margin-left: 20px;
  }
}
