.top-bar {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.929);
  backdrop-filter: blur(2px);
  padding-left: 16px;
  padding-right: 16px;
  height: 50px;
  display: flex;
  align-items: center;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
}

.top-bar > .profile-icon {
  display: none;
}

@media (max-width: 480px) {
  .top-bar > .profile-icon {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 9999px;
  }

  .top-bar > .latest-tweets {
    margin-left: 20px;
  }
}
