.vertical-navbar {
  display: flex;
  flex-direction: column;
  max-width: 18vw;
  min-height: 100vh;
  align-items: flex-start;
  padding: 15px;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
}

.search-link {
  display: none;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.navbar-icon {
  width: 28px;
  height: 28px;
}

.main-buttons button,
.profile-link .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  background-color: transparent;
  border: none;
  transition: 0.3s ease;
}

.vertical-navbar .profile-link {
  width: 100%;
}

.profile-link .profile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.profile-link .profile > .navbar-icon {
  width: 35px;
  height: 35px;
  border-radius: 999px;
}

.profile-link .profile {
  gap: 5px;
}

.profile-link .profile > .profile-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.profile-link > .profile > .profile-info .name {
  font-size: 0.7em;
  max-width: 140px;
  display: flex;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

.profile-link > .profile > .profile-info .username {
  font-size: 0.7em;
}

.main-buttons button,
.title-logo,
.tweet-link .tweet,
.profile-link .profile {
  padding: 12px;
  font-size: 20px;
  border-radius: 9999px;
}

.main-buttons button:hover,
.profile-link .profile:hover {
  background-color: #e6e7e7;
}

.title-logo {
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  width: 55px;
  height: 55px;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-logo:hover {
  background-color: #e8f5fe;
}

.vertical-navbar .tweet-link {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tweet-link .tweet {
  color: white;
  border: none;
  background-color: #2b9bf0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.3s ease;
}

.tweet-link .tweet:hover {
  background-color: #268cd8;
}

.main-buttons > .link > .search {
  display: none;
}

.tweet > img {
  display: none;
}

.profile-link {
  margin-top: auto;
}

@media (max-width: 1180px) {
  .vertical-navbar {
    padding: 12px;
    width: 80px;
    align-items: center;
  }

  .button-text,
  .profile-link .profile > .profile-info {
    display: none;
  }

  .profile-link .profile {
    justify-content: center;
  }
  .main-buttons > button,
  .main-buttons > .link > button,
  .title-logo,
  .link.profile-link > button {
    padding: 12px;
  }

  .tweet-link .tweet {
    width: auto;
  }

  .tweet > img {
    display: block;
  }
}

@media (max-width: 1000px) {
  .main-buttons > .link > .search {
    display: block;
    font-size: 0;
  }

  .search-link {
    display: block;
  }
}

/* css for mobile version of component */

@media (max-width: 480px) {
  .horizontal-navbar {
    border: 1px solid blue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 52px;
    display: flex;
    flex: 1;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 2;
  }

  .horizontal-navbar > * {
    flex-grow: 1;
  }

  .horizontal-navbar > .link {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .horizontal-navbar > .link > button {
    background-color: white;
    border: none;
    flex-grow: 1;
    transition: 0.3s ease;
  }

  .link > button > .active-bar {
    background-color: red;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    margin-top: auto;
    transform: translateX(-2px);
    transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .horizontal-navbar > .link > button:active {
    background-color: red;

  }

  /*                                                */
  .horizontal-navbar > .tweet {
    position: absolute;
    right: 20px;
    bottom: 75px;
  }
}
