.search-container {
  height: 100%;
  margin-top: 12px;
}

.search-container > .bar {
  position: absolute;
  padding: 0px 16px 0px 16px;

  display: flex;
  align-items: center;
  width: 100%;
}

.search-container > .bar > form.search-form {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-container > .bar > form.search-form > input.field {
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #eff3f4;
  padding-left: 46px;
  border: 1px solid white;
  outline: none;
  padding-right: 12px;
}

.search-container > .bar > form.search-form > input.field:focus {
  background-color: white;
  border: 1px solid #2b9bf0;
}

.search-container > .bar > form.search-form > button.submit {
  width: 44px;
  position: absolute;
  height: 95%;
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
  background-color: transparent;
  border: none;
  display: flex;
  padding-left: 12px;
  align-items: center;

}



.search-container > .bar .link > .back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 18px;
  border-radius: 9999px;
  border: none;
  background-color: white;
  margin-right: 15px;
  transition: background-color 0.2s;
}

.search-container > .bar > .link > .back:hover {
  background-color: #e6e7e7;
}
