.search-container {
  height: 100%;
  margin-top: 12px;
}

.search-container > .bar {
  padding: 0px 16px 0px 16px;

  display: flex;
  align-items: center;
  width: 100%;
}

.search-container > .bar > form.search-form {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-container > .bar > form.search-form > input.field {
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #eff3f4;
  padding-left: 46px;
  border: 1px solid white;
  outline: none;
  padding-right: 12px;
}

.search-container > .bar > form.search-form > input.field:focus {
  background-color: white;
  border: 1px solid #2b9bf0;
}

.search-container > .bar > form.search-form > button.submit {
  width: 44px;
  position: absolute;
  height: 95%;
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
  background-color: transparent;
  border: none;
  display: flex;
  padding-left: 12px;
  align-items: center;
}

.search-container button.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 18px;
  border-radius: 9999px;
  border: none;
  background-color: white;
  margin-right: 15px;
  transition: background-color 0.2s;
}

.search-container button.back:hover {
  background-color: #e6e7e7;
}

.search-container .category-buttons {
  height: 53px;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.search-container .category-buttons button {
  position: relative;
  width: 125px;
  background-color: white;
  border: none;
  color: #536471;
  font-size: 1.2em;
  transition: background-color 0.2s ease;
}

.search-container .category-buttons .blue-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 99px;
  height: 0px;
  width: 60px;
  background-color: #2b9bf0;
  transition: 0.2s ease;
}

.search-container .category-buttons button.active .blue-bar {
  height: 5px;
}

@media (min-width: 480px) {
  .search-container .category-buttons button:hover {
    background-color: #e6e7e7;
  }

  .user-wrapper button.follow:hover {
    background-color: #272c30;
  }
}

@media (max-width: 480px) {
  .search-container .category-buttons button:active {
    background-color: #e6e7e7;
  }

  .user-wrapper button.follow:active {
    background-color: #272c30;
  }
}

.search-container .user-wrapper {
  position: relative;
}

.user-wrapper button.follow {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  height: 32px;
  width: 77px;
  border-radius: 99px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  transition: background-color 0.2s ease;
}

.search-container .user-component {
  height: 80px;
}

.search-container .user-component .profile-info {
  font-size: 17px;
  gap: 6px;
}

.search-container .user-component .user-icon {
  height: 50px;
  width: 50px;
}

.search-container .search-results {
  position: relative;
}

.search-container .search-results .loading-container {
  background-color: transparent !important;
  min-height: 0;
  min-width: 0;
}
