.sign-up-component {
  position: absolute;
  background-color: rgba(184, 184, 184, 0.333);

  border: 1px solid blue;
  min-height: max(100vh, 1000px);
  max-height: 200vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
}

.sign-up-container {
  border-radius: 16px;

  position: absolute;
  width: min(600px, 100vw);
  margin-top: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

.sign-up-container .top-bar {
  height: 53px;
  border-radius: 16px 16px 0px 0px;
  padding: 0px 16px 0px 16px;
  display: flex;
  align-items: center;
  align-self: baseline;
}

.sign-up-container button.back {
  width: 34px;
  height: 34px;
  border-radius: 999px;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.sign-up-container button.back:hover,
.sign-up-container button.back:active {
  background-color: #e6e7e7;
}

.sign-up-container .title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-up-container .content {
  width: min(350px, 80%);

  display: flex;
  flex-direction: column;
}

.sign-up-container form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sign-up-container .profile-photo-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.sign-up-container .profile-photo-container .userphoto {
  border: 1px solid #cfd9de;
  width: 65px;
  height: 65px;
  border-radius: 99px;
  
  object-fit: cover;
}

.sign-up-container .profile-photo-container .userphoto-picker {
  color: #647580;
  padding: 7px;
  border-radius: 16px;
  border: 1px solid #cfd9de;
  transition: 0.2s ease;
}

.sign-up-container .profile-photo-container .userphoto-picker:hover {
  border: 1px solid #2c9bf0;
  color: #2c9bf0;
}

.sign-up-container .username-pattern {
  color: #647580;
}

.sign-up-container form input,
.sign-up-container form input {
  border-radius: 5px;
  width: 100%;
  height: 56px;
  padding: 7px;
  padding-top: 20px;
  font-size: 1.1em;
  border: 1px solid #cfd9de;
  outline: none;
  transition: 0.2s ease;
}

.sign-up-container form input:focus {
  border: 1px solid #2b9bf0;
}

.sign-up-container form div {
  position: relative;
}

.sign-up-container form .label {
  pointer-events: none;
  color: #657580;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  transition: 0.2s ease;
}

.sign-up-container form input:focus + .label,
.sign-up-container form.submitted .label {
  color: #2b9bf0;
}

.sign-up-container form input:not(:placeholder-shown) + .label,
.sign-up-container form input:focus + .label {
  top: 10px;
  left: 7px;
  font-size: 1em;
}

.sign-up-container form.submitted .label {
  color: #657580;
}

.sign-up-container form.submitted input:invalid + .label {
  color: red;
}

.sign-up-container form.submitted input:invalid {
  border: 1px solid red;
}

.sign-up-container form button {
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  height: 53px;
  border-radius: 999px;
  outline: none;
  border: none;
  background-color: #2b9bf0;
  transition: background-color 0.2s ease;
}

.sign-up-container form button:hover {
  background-color: #268cd8;
}

@media (max-width: 700px) {
  .sign-up-container {
    border-radius: 0;
    width: 100vw;

    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.sign-up-container .username-exists,
.sign-up-container .valid-username,
.sign-up-container .invalid-pattern {
  position: absolute;
  top: 58px;
}

.sign-up-container .username-exists,
.sign-up-container .invalid-pattern {
  color: red;
}

.sign-up-container .valid-username {
  color: rgb(3, 198, 42);
}

.sign-up-component .loader-container {
  position: absolute;
  width: 100%;
  top: 62px;
}

.sign-up-container .loader {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  border: 4px solid transparent;
  position: relative;
  padding: 1px;
}
.sign-up-container .loader:before {
  content: "";
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
}
.sign-up-container .loader .loaderBar {
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  width: 0;
  animation: borealisBar 2s linear infinite;
}

@keyframes borealisBar {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }
  10% {
    left: 0%;
    right: 75%;
    width: 25%;
  }
  90% {
    right: 0%;
    left: 75%;
    width: 25%;
  }
  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}
