.start-chat-container {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.start-chat-container > .content {
  background-color: white;
  max-width: 600px;
  height: 650px;
  flex-shrink: 1;
  flex-grow: 1;
  border-radius: 16px;
}

.start-chat-container > .content > .top-bar {
  height: 53px;
  display: flex;
  align-items: center;
  padding: 0px 16px 0px 16px;
}

.start-chat-container > .content > .top-bar button.back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
  border: none;
  background-color: transparent;
  width: 34px;
  height: 34px;
  border-radius: 99px;
  transition: background-color 0.3s ease;
}

.start-chat-container > .content > .top-bar button.back:hover {
  background-color: #e6e7e7;
}

.start-chat-container .title {
  font-size: 1.5em;
}

.start-chat-container .search-form {
  direction: rtl; /* make elements flow right to left (rtl) for using sibling selectors*/
  height: 42px;
  padding: 0px 16px 0px 16px;
  display: flex;
  align-items: center;
}

.search-form input {
  direction: ltr; /* setting content back to default after reversing it */
  height: 100%;
  flex-grow: 1;
  border: none;
  font-size: 1.1em;
  outline: none;
}

.search-form input:focus + .search-icon {
  color: #2da0f0;
}

.start-chat-container .search-icon {
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.back-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 700px) {
  .start-chat-container {
    z-index: 3;
  }

  .start-chat-container > .content {
    flex-grow: 1;
    max-width: 100vw;
    height: 100%;
    z-index: 5;
    border-radius: 0;
  }
}
