.tweet-container {
  border-bottom: 1px solid #eff3f4;
  padding: 16px;

  display: grid;
  grid-template-columns: 52px 1fr;
  grid-template-rows: 16px auto auto;
  gap: 10px;
}

.tweet-container > .tweet-userphoto {
  width: 100%;
  border-radius: 999px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.profile-info {
  grid-column: 2/3;
  grid-row: 1/2;
}

.tweet-container > .tweet-text {
  grid-column: 2/3;
  grid-row: 2/3;
  min-height: 40px;
}

.action-buttons {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  height: 30px;
  justify-content: space-around;
}

.action-buttons > button > div > img {
  width: 16px;
  height: 16px;
}

.action-buttons > button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 999px;
  transition: 0.3s ease;
}

.action-buttons > button > span {
  transition: 0.3s ease;
}

.tweet-container > .action-buttons button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@media (min-width: 480px) {
  .tweet-container:hover {
    background-color: #f7f7f7;
    transition: 0.3s ease;
  }


  .action-buttons > button:hover > .reply-icon {
    background-color: #e1eef7;
  }

  .action-buttons > button:hover > .reply-num {
    color: #2b9bf0;
  }

  .action-buttons > button:hover > .retweet-icon {
    background-color: #def1eb;
  }

  .action-buttons > button:hover > .retweet-num {
    color: #3eba7b;
  }

  .action-buttons > button:hover > .like-icon {
    background-color: #f8e0eb;
  }

  .action-buttons > button:hover > .like-num {
    color: #f41780;
  }
}


@media (max-width: 480px) {
  .tweet-container:active {
    background-color: #f7f7f7;
    transition: 0.3s ease;
  }

  
  .action-buttons > button:active > .reply-icon {
    background-color: #e1eef7;
  }

  .action-buttons > button:active > .reply-num {
    color: #2b9bf0;
  }

  .action-buttons > button:active > .retweet-icon {
    background-color: #def1eb;
  }

  .action-buttons > button:active > .retweet-num {
    color: #3eba7b;
  }

  .action-buttons > button:active > .like-icon {
    background-color: #f8e0eb;
  }

  .action-buttons > button:active > .like-num {
    color: #f41780;
  }
}
