.tweet-container {
  border-bottom: 1px solid #eff3f4;
  padding: 16px;
  display: grid;
  grid-template-columns: 52px 1fr;
  grid-template-rows: 16px auto auto;
  gap: 10px;
  cursor: pointer;
}

.tweet-component div.retweeted {
  padding-top: 16px;
  font-size: 0.9em;
  padding-left: 78px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: -10px;
  color: #7d8a94;
}

.tweet-component div.retweeted .retweet-icon {
  width: 16px;
  height: 16px;
  color: #7d8a94;
}

.tweet-container .tweet-userphoto {
  width: 100%;
  border-radius: 999px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.tweet-container .profile-info {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tweet-container .profile-info .profile-name {
  font-weight: bold;

  font-size: 0.87em;
  cursor: pointer;
}
.tweet-container .profile-name:hover {
  border-bottom: 1px solid black;
}
.tweet-container .profile-info .username,
.tweet-container .date {
  color: #576874;
}

.tweet-container .profile-info .dot {
  width: 3px;
  height: 3px;
  border-radius: 99px;
  background-color: black;
}

.tweet-container .image {
  margin-bottom: 12px;
  margin-top: 12px;
  height: 130px;
}

.tweet-component .image img {
  max-width: 100%;
  max-height: 100%;

  border-radius: 12px;
}

.tweet-container .tweet-text {
  grid-column: 2/3;
  grid-row: 2/3;
  min-height: 40px;
}

.action-buttons {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  height: 30px;
  justify-content: space-around;
}

.action-buttons button div img {
  width: 16px;
  height: 16px;
}

.action-buttons button div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 999px;
  transition: 0.3s ease;
}

.action-buttons button > span {
  transition: 0.3s ease;
}

.tweet-container .action-buttons button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@media (min-width: 480px) {
  .tweet-component:hover {
    background-color: #f7f7f7;
    transition: 0.3s ease;
  }

  .action-buttons button:hover .reply-icon {
    background-color: #e1eef7;
  }

  .action-buttons button:hover .reply-num {
    color: #2b9bf0;
  }

  .action-buttons button:hover .retweet-icon {
    background-color: #def1eb;
  }

  .action-buttons > button:hover .retweet-num {
    color: #3eba7b;
  }

  .action-buttons button:hover .like-icon {
    background-color: #f8e0eb;
  }

  .action-buttons button:hover .like-num {
    color: #f41780;
  }
}

@media (max-width: 580px) {
  .tweet-container .profile-info .profile-name {
    border: 1px solid red;

    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .tweet-component:active {
    background-color: #f7f7f7;
    transition: 0.3s ease;
  }

  .action-buttons button:active .reply-icon {
    background-color: #e1eef7;
  }

  .action-buttons button:active .reply-num {
    color: #2b9bf0;
  }

  .action-buttons button:active .retweet-icon {
    background-color: #def1eb;
  }

  .action-buttons button:active .retweet-num {
    color: #3eba7b;
  }

  .action-buttons button:active .like-icon {
    background-color: #f8e0eb;
  }

  .action-buttons button:active .like-num {
    color: #f41780;
  }
}
